@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scartech-orange: #fe6100;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

th {
  /* or */
  background-color: var(--scartech-orange); /* for background */
}

.bg-scar-orange {
  background-color: var(--scartech-orange); /* for background */
}

/* Remove spin buttons for all number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.react-datepicker-wrapper {
  width: 100%;
}

input,
textarea {
  border-radius: 0.25rem;
}

.emergency_status {
  @apply bg-red-500 text-white px-2 py-1;
}

.complete_status {
  @apply bg-lime-500 text-white px-2 py-1;
}

.wait_status {
  @apply bg-yellow-300 text-black px-2 py-1;
}

@media screen and (max-width: 1440px) {
  .scaled-layout {
    transform-origin: top left;
    transform: scale(calc(100vw / 1440));
    width: 1440px;
  }
}
